{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
| {{request.user.username}}
{% endblock title %}

{% block style %}
<style>
    .avatar-profile {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
</style>
{% endblock style %}

{% block content %}

<div class="col-sm-6 offset-sm-3">
    {% if success %}
    <div class="alert alert-success">
        Profile has been successfully updated!
    </div>
    {% endif %}
</div>

<img src="{{profile.avatar.url}}" alt="{{request.user.username}}" class="avatar-profile" />

<div class="container">
    <div class="col-sm-6">
        <form method='POST' enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {{profile_form|crispy}}
            <input type="submit" value="Update Profile" class='btn btn-outline-info btn-lg mt-2'>
        </form>
    </div>
</div>

{% endblock content %}