{% extends "base.html" %}

{% block title %}
detail {{sale.transaction_id}}
{% endblock title %}

{% block content %}

<div class="row mt-3 mb-3">
    <div class="col-3">
        <img src="{{sale.customer.image.url}}" class="img-fluid customer-img" alt="{{sale.customer.name}}">
    </div>
    <div class="col-9">
        <ul>
            <li>Transaction id: <b>{{sale.transaction_id}}</b>
            <li>Salesman: <b>{{sale.salesman.user.username}}</b>
        </ul>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Customer</th>
        </tr>
    </thead>
    <tbody>
        {% for pos in sale.get_positions %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{pos.product.name}}</td>
            <td>{{pos.quantity}}</td>
            <td>{{pos.price}}</td>
            <td>{{pos.get_sale_customer}}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock content %}