.not-visible {
    display: none;
}

.dataframe {
    width: 100%;
}

.dz {
    border-style: dashed;
    border-radius: 5px;
    border-color: bisque;
    transition: .8s;
}

.dz:hover {
    background-color: antiquewhite;
    border-color: aliceblue;
}

.avatar-nav {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.logo-sm {
    height: 50px;
    width: auto;
}

.customer-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}